{% extends "base.html" %}
{% block head %}
<meta name="description" content="Zhvillues programesh i pasionuar i cili kerkon gjithmonë sfidën e ardhshme" />
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}

<div class="viewPost flex one">

    {% for post in items %}
    <div class="items flex six head">
	<div class="id">
	    <a href='{{ url_for('users.post_edit', id=post.id) }}'>{{ post.id }}</a>
	</div>
	<div class="title">
	    <p>{{ post.title }}</p>
	</div>
	<div class="desc">
	    <p>{{ post.excerpt }}</p>
	</div>
	<div class="author">
	    <p>{{ post.author.username }}</p>
	</div>
	<div class="date">
	    <p>{{ post.date_posted }}</p>
	</div>
	<div class="status">
	    <p>{{ post.status }}</p>
	</div>
    </div>
    {% endfor %}

</div>

{% endblock %}
{% block footerScripts %}
    <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.12.2/dist/trumbowyg.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trumbowyg@2.12.2/dist/ui/trumbowyg.min.css">
<script type="application/javascript" src="{{ url_for('main.admin', filename='js/user/posts.js') }}"></script>
{% endblock %}
