{% extends "base.html" %}
{% block head %}
<meta name="description" content="Zhvillues programesh i pasionuar i cili kerkon gjithmonë sfidën e ardhshme" />
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}

<div class="viewMedia flex one">
    <div class="items flex six head">
	<div class="thumbnail">
	    <p>Thumbnail</p>
	</div>

	<div class="id">
	    <p>Id</p>
	</div>
	<div class="title">
	    <p>Title</p>
	</div>
	<div class="desc">
	    <p>Description</p>
	</div>
	<div class="author">
	    <p>User</p>
	</div>
	<div class="date">
	    <p>Upload Date</p>
	</div>
    </div>

    <div class="items flex six">
	<div class="thumbnail">
	    <img src="https://picsum.photos/200/200">
	</div>

	<div class="id">
	    <p>001</p>
	</div>
	<div class="title">
	    <p>Blodnje, gereenna</p>
	</div>
	<div class="desc">
	    <p>Blonde, shoulder-length hair slightly reveals a chiseled, worried face. Sparkling silver eyes, set lightly within their sockets, watch hungrily over the armies they've nearly died for for so long.</p>
	</div>
	<div class="author">
	    <p>admin</p>
	</div>
	<div class="date">
	    <p>10 1997</p>
	</div>
    </div>
    <div class="items flex six">
	<div class="thumbnail">
	    <img src="https://picsum.photos/200/200">
	</div>

	<div class="id">
	    <p>001</p>
	</div>
	<div class="title">
	    <p>Blodnje, gereenna</p>
	</div>
	<div class="desc">
	    <p>Blonde, shoulder-length hair slightly reveals a chiseled, worried face. Sparkling silver eyes, set lightly within their sockets, watch hungrily over the armies they've nearly died for for so long.</p>
	</div>
	<div class="author">
	    <p>admin</p>
	</div>
	<div class="date">
	    <p>10 1997</p>
	</div>
    </div>
    <div class="items flex six">
	<div class="thumbnail">
	    <img src="https://picsum.photos/200/200">
	</div>

	<div class="id">
	    <p>001</p>
	</div>
	<div class="title">
	    <p>Blodnje, gereenna</p>
	</div>
	<div class="desc">
	    <p>Blonde, shoulder-length hair slightly reveals a chiseled, worried face. Sparkling silver eyes, set lightly within their sockets, watch hungrily over the armies they've nearly died for for so long.</p>
	</div>
	<div class="author">
	    <p>admin</p>
	</div>
	<div class="date">
	    <p>10 1997</p>
	</div>
    </div>
    <div class="items flex six">
	<div class="thumbnail">
	    <img src="https://picsum.photos/200/200">
	</div>

	<div class="id">
	    <p>001</p>
	</div>
	<div class="title">
	    <p>Blodnje, gereenna</p>
	</div>
	<div class="desc">
	    <p>Blonde, shoulder-length hair slightly reveals a chiseled, worried face. Sparkling silver eyes, set lightly within their sockets, watch hungrily over the armies they've nearly died for for so long.</p>
	</div>
	<div class="author">
	    <p>admin</p>
	</div>
	<div class="date">
	    <p>10 1997</p>
	</div>
    </div>

</div>

{% endblock %}
{% block footerScripts %}
    <script src="https://cdn.jsdelivr.net/npm/trumbowyg@2.12.2/dist/trumbowyg.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trumbowyg@2.12.2/dist/ui/trumbowyg.min.css">
<script type="application/javascript" src="{{ url_for('main.admin', filename='js/user/posts.js') }}"></script>
{% endblock %}
